<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head.html :: common-head"></head>
<body>
<div th:replace="header.html :: common-header"></div>
<main>
    <div class="card text-center">
        <div class="card-header">
            Ultimate Fitness - Your ultimate fitness coach
        </div>
        <div class="card-body my-3">
            <h5 class="card-title" th:text="${motivationalMessage}"></h5>
            <a href="/training" class="btn btn-secondary">Check today's training</a>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="col-md-6">
            <div class="graph-container">
                <canvas id="myChart"></canvas>
            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var ctx = document.getElementById('myChart').getContext('2d');
                var data = /*[[${data}]]*/ [];

                var labels = Array.from({ length: data.length }, (_, i) => 'Weight week ' + (i));

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Your weight progress',
                            data: data,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    callback: function(value, index, values) {
                                        return value + ' kg';
                                    }
                                }
                            }
                        },
                        barPercentage: 1,
                        categoryPercentage: 1
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>

</main>
</body>
</html>