<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head.html :: common-head"></head>
<body>
<div th:replace="header.html :: common-header"></div>
<main>
    <div class="card text-center">
        <div class="card-header">
            Ultimate Fitness - Your ultimate fitness coach
        </div>
        <div class="card-body my-3">
            <h5 class="card-title" th:text="${motivationalMessage}"></h5>
            <a href="/training" class="btn btn-secondary">Check today's training</a>
        </div>
    </div>
</main>
</body>
</html>