<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head.html :: common-head"></head>
<body>
<main>
    <div class="container mt-2">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6">
                <h3>Enter your information:</h3>
            </div>
        </div>
        <form action="/auth/register-personal-info" method="post">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" name="name" placeholder="Name" required>
                        <label for="floatingName">Name</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingSurname" name="surname" placeholder="Surname" required>
                        <label for="floatingSurname">Surname</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
                        <label for="floatingInput">Username</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="floatingRepeatPassword" name="repeatPassword" placeholder="Repeat password" required>
                        <label for="floatingRepeatPassword">Repeat password</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-1">
                <div class="col-md-6">
                    Sex:
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="MALE" name="sex" id="MALE">
                        <label class="form-check-label" for="MALE">
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="FEMALE" name="sex" id="FEMALE" >
                        <label class="form-check-label" for="FEMALE">
                            Female
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="age" name="age" placeholder="Age" required>
                        <label for="age">Age</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="height" name="height" placeholder="Height" required>
                        <label for="height">Height</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="weight" name="weight" placeholder="Weight" required>
                        <label for="weight">Weight</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="steps" name="steps" placeholder="steps" required>
                        <label for="steps">Daily steps (Approximate average value)</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example" id="goals" name="goal">
                            <option th:text="${selectedFirst}" th:value="${selectedFirst}" selected></option>
                            <option th:each="goal : ${goals}" th:text="${goal}" th:value="${goal}"></option>
                        </select>
                        <label for="goals">Goal</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-3 ">
                <div class="col-md-6">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary mt-3">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

</body>
</html>