<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head.html :: common-head"></head>
<body>
<div th:replace="header.html :: common-header"></div>
<main>
    <div class="container mt-2">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6">
                <h3>Training</h3>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 70%">Exercises</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="exercise : ${training.exercises}">
                            <td th:text="${exercise.exerciseName}"></td>
                            <td>
                                <div class="d-flex justify-content-center m-0">
                                    <a th:href="@{'/exercise/{id}' (id=${exercise.id})}" type="button">
                                        <button type="button" class="btn btn-secondary">Check details</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Rest time [sec]</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="category">
                            <td th:text="${training.restTimeSeconds}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Training for muscles groups</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="musleGroup : ${training.forMuscleGroup}" class="category">
                            <td th:text="${musleGroup}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form action="/training/insert-body-results" method="post">
            <div class="row justify-content-center mb-3">
                <div class="col-md-6">
                    <h3>Enter weight and body size dimensions changes:</h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="weight" name="weight" placeholder="weight" step="any" required>
                        <label for="weight">Weight [kg]</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="chestSize" name="chestSize" placeholder="chestSize" step="any" required>
                        <label for="chestSize">Chest size [cm]</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="waistSize" name="waistSize" placeholder="waistSize" step="any" required>
                        <label for="waistSize">Waist size [cm]</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="bicepsSize" name="bicepsSize" placeholder="bicepsSize" step="any" required>
                        <label for="bicepsSize">Biceps size [cm]</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="quadsSize" name="quadsSize" placeholder="quadsSize" step="any" required>
                        <label for="quadsSize">Quads size [cm]</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-3 ">
                <div class="col-md-6">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success mt-3">Enter results</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>